.flying, .flying-2 {
	position: absolute;
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
}

.flying__div-1 {
  font-size: 29px;
  transform: translate(41vw, 135px) rotate(-375deg);
  transition: transform 2s;
}

.flying__div-2 {
  font-size: 35px;
  transform: translate(50vw, 510px) rotate(-340deg);
  transition: transform 2s;
}

.flying__hooks {
  font-size: 43px;
  transform: translate(7vw, 105px) rotate(-330deg);
  transition: transform 2s;
}

.flying__sharp {
	font-size: 55px;
  transform: translate(13vw, 332px) rotate(-340deg);
  transition: transform 2s;
}

.flying__nothing {
	font-size: 38px;
  transform: translate(20vw, 638px) rotate(-384deg);
  transition: transform 2s;
}

.flying__nothing-2 {
	display: none;
}

@media (max-width: 1850px) {
	.flying__div-2 {
	  transform: translate(30vw, 560px) rotate(-340deg);
	}

	.flying__sharp {
	  transform: translate(5vw, 332px) rotate(-340deg);
	}
}

@media(max-width: 1375px) {
	.flying__div-2 {
	  display: none;
	}

	.flying__sharp {
	  transform: translate(5vw, 482px) rotate(-340deg);
	}
}

@media(max-width: 1100px) {
	.flying__sharp {
	  transform: translate(5vw, 542px) rotate(-340deg);
	}
}

@media(max-width: 1024px) {
	.flying__div-1 {
    transform: translate(87vw, 120px) rotate(-375deg);
	}

	.flying__hooks {
    transform: translate(8vw, 125px) rotate(-330deg);
  }

  .flying__sharp {
    transform: translate(6vw, 597px) rotate(-340deg);
	}

	.flying__nothing {
    transform: translate(35vw, 555px) rotate(-384deg);
	}

	.flying__nothing-2 {
		display: block;
		font-size: 45px;
	  transform: translate(41vw, 202px) rotate(-345deg);
	  transition: transform 2s;
	}
}

@media(max-width: 900px) {
	.flying__nothing {
		display: none;
	}
}

@media(max-width: 768px) {
	.flying__div-1 {
    transform: translate(54vw, 50px) rotate(-340deg);
    font-size: 14px;
  }

	.flying__hooks {
    display: block;
    font-size: 22px;
    transform: translate(11vw, 57px) rotate(-330deg);
	}

  .flying__sharp {
		font-size: 28px;
		transform: translate(5vw, 303px) rotate(-340deg);
	}

	.flying__nothing {
	  display: block;
	  font-size: 16px;
	  transform: translate(25vw, 383px) rotate(-384deg);
	}

	.flying__nothing-2 {
		display: none;
	}
}

@media(max-width: 560px) {
	.flying__nothing {
	  transform: translate(80vw, 83px) rotate(-384deg);
	}

	.flying__sharp {
    transform: translate(12vw, 186px) rotate(-340deg);
	}
}

@media(max-width: 320px) {
	.flying__div-1 {
    transform: translate(77vw, 129px) rotate(-340deg);
	}

	.flying__hooks {
    transform: translate(16vw, 84px) rotate(-330deg);
	}

	.flying__nothing {
    transform: translate(55vw, 66px) rotate(-384deg);
	}
}

/* ***************** */

.flying-2 {
	background-image: unset;
	background-color: #fff;
}

.flying-2__div-2 {
  font-size: 35px;
  transform: translate(74vw, 229px) rotate(-340deg);
  transition: transform 2s;
}

.flying-2__hooks {
  font-size: 43px;
  transform: translate(7vw, -15px) rotate(-330deg);
  transition: transform 2s;
}

.flying-2__hooks-2 {
	font-size: 55px;
  transform: translate(92vw, 180px) rotate(-380deg);
  transition: transform 2s;
}

.flying-2__sharp {
	font-size: 55px;
  transform: translate(13vw, 178px) rotate(-340deg);
  transition: transform 2s;
}

.flying-2__nothing {
	font-size: 38px;
  transform: translate(86vw, 0px) rotate(-384deg);
  transition: transform 2s;
}

@media(max-width: 1600px) {
	.flying-2__sharp {
	  transform: translate(3vw, 178px) rotate(-340deg);
	}	
}

@media(max-width: 1250px) {
	.flying-2 {
		font-size: 30px;
	}

	.flying-2__div-2 {
    transform: translate(50vw, 224px) rotate(-340deg);
	}

	.flying-2__hooks {
	  transform: translate(15vw, -56px) rotate(-330deg);
	}

	.flying-2__hooks-2,
	.flying-2__sharp {
		display: none;
	}

	.flying-2__nothing {
	  transform: translate(86vw, 211px) rotate(-384deg);
	}
}

@media(max-width: 1023px) {
	.flying-2 {
		display: none;
	}
}

.null-transform {
	transform: translate(-30vw, 0) rotate(0);
}